<div class="card">
    <div class="card-body pt-9 pb-0">
      <!--begin::Details-->
      <div class="d-flex flex-wrap flex-sm-nowrap" *ngIf="materialDetail">
        <!--begin: Pic-->
        <div *ngFor="let image of materialImages" class="images">
          <img [src]="image.url" class="material-pic" alt="Material Image" />
        </div>
        <!--end::Pic-->
        <!--begin::Info-->
        <div class="flex-grow-1">
          <!--begin::Title-->
          <div
            class="d-flex justify-content-between align-items-start flex-wrap mb-2"
          >
            <!--begin::User-->
            <div class="d-flex flex-column">
              <!--begin::Name-->
              <div class="d-flex align-items-center mb-2">
                <a
                  href="#"
                  class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"
                  >{{ materialDetail.name }}</a
                >
              </div>
              <!--end::Name-->
              <!--begin::Info-->
              <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                <div
                  class="d-flex align-items-center text-gray-400 me-5 mb-2"
                  *ngIf="materialDetail && materialDetail.isBorrowable"
                >
                  <i class="fa-solid fa-check fs-3 me-2" style="color: green">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                  </i>
                  Rafta
                </div>
                <div
                  class="d-flex align-items-center text-gray-400 me-5 mb-2"
                  *ngIf="materialDetail && !materialDetail.isBorrowable"
                >
                  <i class="fa-solid fa-xmark fs-3 me-2" style="color: red">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                  </i>
                  Rafta değil
                </div>
                <div class="d-flex align-items-center text-gray-400 me-5 mb-2">
                  <i class="fa-solid fa-clock fs-3 me-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span> </i
                  >{{ materialDetail.borrowDay }} Gün Ödünç Alınabilir
                </div>
                <div class="d-flex align-items-center text-gray-400 me-5 mb-2">
                  <i class="fa-solid fa-money-bill-wave fs-3 me-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span> </i
                  >{{ materialDetail.punishmentAmount }}₺ Ceza Miktarı
                </div>
              </div>
              <!--end::Info-->
            </div>
            <!--end::User-->
          </div>
          <!--end::Title-->
          <!--begin::Stats-->
          <div class="d-flex flex-wrap flex-stack">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-grow-1 pe-8">
              <!--begin::Stats-->
              <div class="d-flex flex-wrap">
                <!--begin::Stat-->
                <div
                  class="border border-gray-300 border-dashed rounded min-w-100 px py-3 px-4 me-6 mb-3"
                >
                  <!--begin::Number-->
                  <div class="d-flex align-items-center">
                    <div
                      class="fs-2 fw-bold counted"
                      data-kt-countup="true"
                      data-kt-countup-value="4500"
                      data-kt-countup-prefix="$"
                      data-kt-initialized="1"
                    >
                      Yazarlar
                    </div>
                  </div>
                  <!--end::Number-->
                  <!--begin::Label-->
                  <div
                    class="fw-semibold fs-5 text-gray-400"
                    *ngFor="let author of authors"
                  >
                    {{ author.firstName }} {{ author.lastName }}<br />
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Stat-->
                <!--begin::Stat-->
                <div
                  class="border border-gray-300 border-dashed rounded min-w-100 px py-3 px-4 me-6 mb-3"
                >
                  <!--begin::Number-->
                  <div class="d-flex align-items-center">
                    <div
                      class="fs-2 fw-bold counted"
                      data-kt-countup="true"
                      data-kt-countup-value="4500"
                      data-kt-countup-prefix="$"
                      data-kt-initialized="1"
                    >
                      Yayınevleri
                    </div>
                  </div>
                  <!--end::Number-->
                  <!--begin::Label-->
                  <div
                    class="fw-semibold fs-5 text-gray-400"
                    *ngFor="let publisher of publishers"
                  >
                    {{ publisher.name }} - {{ publisher.publicationPlace }}<br />
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Stat-->
                <!--begin::Stat-->
                <div
                  class="border border-gray-300 border-dashed rounded min-w-100 px py-3 px-4 me-6 mb-3"
                >
                  <!--begin::Number-->
                  <div class="d-flex align-items-center">
                    <div
                      class="fs-2 fw-bold counted"
                      data-kt-countup="true"
                      data-kt-countup-value="4500"
                      data-kt-countup-prefix="$"
                      data-kt-initialized="1"
                    >
                      Diller
                    </div>
                  </div>
                  <!--end::Number-->
                  <!--begin::Label-->
                  <div
                    class="fw-semibold fs-5 text-gray-400"
                    *ngFor="let language of languages"
                  >
                    {{ language.name }}<br />
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Stat-->
                <!--begin::Stat-->
                <div
                  class="border border-gray-300 border-dashed rounded min-w-100 px py-3 px-4 me-6 mb-3"
                >
                  <!--begin::Number-->
                  <div class="d-flex align-items-center">
                    <div
                      class="fs-2 fw-bold counted"
                      data-kt-countup="true"
                      data-kt-countup-value="4500"
                      data-kt-countup-prefix="$"
                      data-kt-initialized="1"
                    >
                      Çevirmenler
                    </div>
                  </div>
                  <!--end::Number-->
                  <!--begin::Label-->
                  <div
                    class="fw-semibold fs-5 text-gray-400"
                    *ngFor="let translator of translators"
                  >
                    {{ translator.name }}<br />
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Stat-->
                <!--begin::Stat-->
                <div
                  class="border border-gray-300 border-dashed rounded min-w-100 px py-3 px-4 me-6 mb-3"
                >
                  <!--begin::Number-->
                  <div class="d-flex align-items-center">
                    <div
                      class="fs-2 fw-bold counted"
                      data-kt-countup="true"
                      data-kt-countup-value="4500"
                      data-kt-countup-prefix="$"
                      data-kt-initialized="1"
                    >
                      Türler
                    </div>
                  </div>
                  <!--end::Number-->
                  <!--begin::Label-->
                  <div
                    class="fw-semibold fs-5 text-gray-400"
                    *ngFor="let genre of genres"
                  >
                    {{ genre.name }}<br />
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Stat-->
                <!--begin::Stat-->
                <div
                  class="border border-gray-300 border-dashed rounded min-w-100 px py-3 px-4 me-6 mb-3"
                >
                  <!--begin::Number-->
                  <div class="d-flex align-items-center">
                    <div
                      class="fs-2 fw-bold counted"
                      data-kt-countup="true"
                      data-kt-countup-value="4500"
                      data-kt-countup-prefix="$"
                      data-kt-initialized="1"
                    >
                      Açıklama
                    </div>
                  </div>
                  <!--end::Number-->
                  <!--begin::Label-->
                  <div class="fw-semibold fs-5 text-gray-400">
                    {{ materialDetail.description }}<br />
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Stat-->
                <!--begin::Stat-->
                <div
                  class="border border-gray-300 border-dashed rounded min-w-100 px py-3 px-4 me-6 mb-3"
                >
                  <!--begin::Number-->
                  <div class="d-flex align-items-center">
                    <div
                      class="fs-2 fw-bold counted"
                      data-kt-countup="true"
                      data-kt-countup-value="4500"
                      data-kt-countup-prefix="$"
                      data-kt-initialized="1"
                    >
                      Özellikleri
                    </div>
                  </div>
                  <!--end::Number-->
                  <!--begin::Label-->
                  <div
                    class="fw-semibold fs-5 text-gray-400"
                    *ngFor="let property of materialProperties"
                  >
                    {{ property.name }} - {{ property.propertyValue.content
                    }}<br />
                  </div>
                  <!--end::Label-->
                </div>
                <!--end::Stat-->
              </div>
              <!--end::Stats-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Stats-->
        </div>
        <!--end::Info-->
      </div>
      <!--end::Details-->
    </div>
  </div>