<form [ngClass]="{'login': showLoginForm}">
    <h2>Login</h2>
    <div class="inputbox">
        <!-- <ion-icon name="mail-outline"></ion-icon> -->
        <input type="email" required>
        <label for="">Email</label>
    </div>
    <div class="inputbox">
        <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
        <input type="password" required>
        <label for="">Password</label>
    </div>
    <div class="forget">
        <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
      
    </div>
    
    <button>Log in</button>
    <div class="register" >
        <p>Don't have a account <a href="#"  (click)="callRegisterHandler(); $event.preventDefault();">Register</a></p>
    </div>
</form>