<section class="section">
    <div class="form-box">
        <div class="form-value">
            <form class="login" >
                <h2>Login</h2>
                <div class="inputbox">
                    <!-- <ion-icon name="mail-outline"></ion-icon> -->
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                  
                </div>
                <button>Log in</button>
                <div class="register">
                    <p>Don't have a account <a href="#">Register</a></p>
                </div>
            </form>
            <form class="signin" >
                <h2>üye ol</h2>
                <div class="inputbox">
                    <!-- <ion-icon name="mail-outline"></ion-icon> -->
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <!-- <ion-icon name="mail-outline"></ion-icon> -->
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                  
                </div>
                <button>Log in</button>
                <div class="register">
                    <p>Don't have a account <a href="#">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
