<div class="card">
  <!--begin::Hero-->
  <app-hero/>
   <!--end::-->

  <!--begin::Body-->
  <div class="card-body p-lg-17">
    <!--begin::Block-->
    <div class="card-body flex-column p-5" style="margin-bottom: 80px">
      <div class="d-flex align-items-center h-lg-300px p-5 p-lg-15">
        <!--begin::Wrapper-->
        <div
          class="d-flex flex-column align-items-start justift-content-center flex-equal me-5"
        >
          <!--begin::Title-->
          <h1 class="fw-bold fs-4 fs-lg-1 text-gray-800 mb-5 mb-lg-10">
            Hangi eseri arıyorsun?
          </h1>
          <!--end::Title-->
          <!--begin::Input group-->
          <div
            class="position-relative w-100"
            style="
              border-style: solid;
              border-radius: 5px;
              border-color: #a1acce;
              border-width: 1px;
            "
          >
            <app-search />
          </div>
          <!--end::Input group-->
        </div>
        <!--end::Wrapper-->
        <!--begin::Wrapper-->
        <div
          class="flex-equal d-flex justify-content-center align-items-end ms-5"
        >
          <!--begin::Illustration-->
          <img
            src="assets/media/illustrations/sketchy-1/20.png"
            alt=""
            class="mw-100 mh-125px mh-lg-275px mb-lg-n12"
          />
          <!--end::Illustration-->
        </div>
        <!--end::Wrapper-->
      </div>
    </div>

    <!--end::Block-->
    <!--begin::latest instagram-->
    <div class="">
      <!--begin::Section-->
      <div class="m-0">
        <!--begin::Content-->
        <div class="d-flex flex-stack">
          <!--begin::Title-->
          <h3 class="text-dark">Son Eklenen Eserler</h3>
          <!--end::Title-->
          <!--begin::Link-->
          <a href="#" class="fs-6 fw-semibold link-primary">Hepsini İncele</a>
          <!--end::Link-->
        </div>
        <!--end::Content-->
        <!--begin::Separator-->
        <div class="separator separator-dashed border-gray-300 mb-9 mt-5"></div>
        <!--end::Separator-->
      </div>
      <!--end::Section-->
      <!--begin::Row-->
      <div class="row g-10 row-cols-2 row-cols-lg-5">
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a
            class="d-block overlay"
            data-fslightbox="lightbox-hot-sales"
            href="assets/media/stock/900x600/16.jpg"
          >
            <!--begin::Image-->
            <div
              class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
              style="background-image: url('assets/media/stock/900x600/16.jpg')"
            ></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="ki-duotone ki-eye fs-3x text-white">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </div>
            <!--end::Action-->
          </a>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a
            class="d-block overlay"
            data-fslightbox="lightbox-hot-sales"
            href="assets/media/stock/900x600/13.jpg"
          >
            <!--begin::Image-->
            <div
              class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
              style="background-image: url('assets/media/stock/900x600/13.jpg')"
            ></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="ki-duotone ki-eye fs-3x text-white">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </div>
            <!--end::Action-->
          </a>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a
            class="d-block overlay"
            data-fslightbox="lightbox-hot-sales"
            href="assets/media/stock/900x600/19.jpg"
          >
            <!--begin::Image-->
            <div
              class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
              style="background-image: url('assets/media/stock/900x600/19.jpg')"
            ></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="ki-duotone ki-eye fs-3x text-white">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </div>
            <!--end::Action-->
          </a>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a
            class="d-block overlay"
            data-fslightbox="lightbox-hot-sales"
            href="assets/media/stock/900x600/15.jpg"
          >
            <!--begin::Image-->
            <div
              class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
              style="background-image: url('assets/media/stock/900x600/15.jpg')"
            ></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="ki-duotone ki-eye fs-3x text-white">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </div>
            <!--end::Action-->
          </a>
        </div>

        <!--end::Col-->
        <!--begin::Col-->
        <div class="col">
          <!--begin::Overlay-->
          <a
            class="d-block overlay"
            data-fslightbox="lightbox-hot-sales"
            href="assets/media/stock/900x600/12.jpg"
          >
            <!--begin::Image-->
            <div
              class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
              style="background-image: url('assets/media/stock/900x600/12.jpg')"
            ></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="ki-duotone ki-eye fs-3x text-white">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </div>
            <!--end::Action-->
          </a>
        </div>
        <!--end::Col-->
      </div>
      <!--begin::Row-->
      <div class="separator separator-dashed border-gray-300 mb-9 mt-5"></div>
    </div>
    <!--end::latest instagram-->

    <div class="mb-20 pb-lg-20">
      <h2 class="fw-bold text-dark mb-7">Bir Kütüphanesinin Büyülü Dünyası:</h2>
      <!--end::Title-->
      <!--begin::List-->
      <ul>
        <li>
          <span class="fs-4 fw-semibold text-gray-700"
            >Kitaplarla dolu bir dünyaya adım atmak, sadece sayfalar arasında
            dolaşmak değil, aynı zamanda bir yolculuğa çıkmak demektir.
          </span>
        </li>
      </ul>
      <!--end::List-->
      <!--begin::Text-->
      <div class="fs-4 fw-semibold text-gray-700 mb-13">
        Bir kütüphane, bu yolculuğun başlangıç noktası ve keşfetmenin
        merkezidir. Burası, sadece kelimelerin dizilmiş olduğu raflardan ibaret
        değil, aynı zamanda farklı dünyalara, hayatlara ve düşüncelere açılan
        bir kapıdır.

        <!--end::Text-->
      </div>
      <!--begin::Section-->
      <div class="mb-19">
        <!--begin::Top-->
        <div class="text-center mb-12">
          <!--begin::Title-->
          <h3 class="fs-2hx text-dark mb-5">Yayınlar</h3>
          <!--end::Title-->
          <!--begin::Text-->
          <div class="fs-5 text-muted fw-semibold">
            Bu yayınları, tarihî eserlerden çağdaş romanlara, çocuk
            kitaplarından araştırma makalelerine kadar geniş bir kapsamı
            kapsayarak, her yaş grubundan okuyucuya hitap eder
          </div>
          <!--end::Text-->
        </div>
        <!--end::Top-->
        <!--begin::Row-->
        <div class="row g-10">
          <!--begin::Col-->
          <div class="col-md-4">
            <!--begin::Publications post-->
            <div class="card-xl-stretch me-md-6">
              <!--begin::Overlay-->
              <a
                class="d-block overlay mb-4"
                data-fslightbox="lightbox-hot-sales"
                href="assets/media/stock/600x400/img-73.jpg"
              >
                <!--begin::Image-->
                <div
                  class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                  style="
                    background-image: url('assets/media/stock/600x400/img-73.jpg');
                  "
                ></div>
                <!--end::Image-->
                <!--begin::Action-->
                <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                  <i class="ki-duotone ki-eye fs-2x text-white"></i>
                </div>
                <!--end::Action-->
              </a>
              <!--end::Overlay-->
              <!--begin::Body-->
              <div class="m-0">
                <!--begin::Title-->
                <a
                  href="../dist/pages/user-profile/overview.html"
                  class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base"
                  >Admin Panel - How To Started the Dashboard Tutorial</a
                >
                <!--end::Title-->
                <!--begin::Text-->
                <div class="fw-semibold fs-5 text-gray-600 text-dark mt-3 mb-5">
                  We’ve been focused on making a the from also not been afraid
                  to and step away been focused create eye
                </div>
                <!--end::Text-->
                <!--begin::Content-->
                <div class="fs-6 fw-bold">
                  <!--begin::Author-->
                  <a href="#" class="text-gray-700 text-hover-primary"
                    >Jane Miller</a
                  >
                  <!--end::Author-->
                  <!--begin::Date-->
                  <span class="text-muted">on Mar 21 2021</span>
                  <!--end::Date-->
                </div>
                <!--end::Content-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Publications post-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-4">
            <!--begin::Publications post-->
            <div class="card-xl-stretch mx-md-3">
              <!--begin::Overlay-->
              <a
                class="d-block overlay mb-4"
                data-fslightbox="lightbox-hot-sales"
                href="assets/media/stock/600x400/img-74.jpg"
              >
                <!--begin::Image-->
                <div
                  class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                  style="
                    background-image: url('assets/media/stock/600x400/img-74.jpg');
                  "
                ></div>
                <!--end::Image-->
                <!--begin::Action-->
                <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                  <i class="ki-duotone ki-eye fs-2x text-white"></i>
                </div>
                <!--end::Action-->
              </a>
              <!--end::Overlay-->
              <!--begin::Body-->
              <div class="m-0">
                <!--begin::Title-->
                <a
                  href="../dist/pages/user-profile/overview.html"
                  class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base"
                  >Admin Panel - How To Started the Dashboard Tutorial</a
                >
                <!--end::Title-->
                <!--begin::Text-->
                <div class="fw-semibold fs-5 text-gray-600 text-dark mt-3 mb-5">
                  We’ve been focused on making the from v4 to v5 but we have
                  also not been afraid to step away been focused
                </div>
                <!--end::Text-->
                <!--begin::Content-->
                <div class="fs-6 fw-bold">
                  <!--begin::Author-->
                  <a href="#" class="text-gray-700 text-hover-primary"
                    >Cris Morgan</a
                  >
                  <!--end::Author-->
                  <!--begin::Date-->
                  <span class="text-muted">on Apr 14 2021</span>
                  <!--end::Date-->
                </div>
                <!--end::Content-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Publications post-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-4">
            <!--begin::Publications post-->
            <div class="card-xl-stretch ms-md-6">
              <!--begin::Overlay-->
              <a
                class="d-block overlay mb-4"
                data-fslightbox="lightbox-hot-sales"
                href="assets/media/stock/600x400/img-47.jpg"
              >
                <!--begin::Image-->
                <div
                  class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                  style="
                    background-image: url('assets/media/stock/600x400/img-47.jpg');
                  "
                ></div>
                <!--end::Image-->
                <!--begin::Action-->
                <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                  <i class="ki-duotone ki-eye fs-2x text-white"></i>
                </div>
                <!--end::Action-->
              </a>
              <!--end::Overlay-->
              <!--begin::Body-->
              <div class="m-0">
                <!--begin::Title-->
                <a
                  href="../dist/pages/user-profile/overview.html"
                  class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base"
                  >Admin Panel - How To Started the Dashboard Tutorial</a
                >
                <!--end::Title-->
                <!--begin::Text-->
                <div class="fw-semibold fs-5 text-gray-600 text-dark mt-3 mb-5">
                  We’ve been focused on making the from v4 to v5 but we’ve also
                  not been afraid to step away been focused
                </div>
                <!--end::Text-->
                <!--begin::Content-->
                <div class="fs-6 fw-bold">
                  <!--begin::Author-->
                  <a href="#" class="text-gray-700 text-hover-primary"
                    >Carles Nilson</a
                  >
                  <!--end::Author-->
                  <!--begin::Date-->
                  <span class="text-muted">on May 14 2021</span>
                  <!--end::Date-->
                </div>
                <!--end::Content-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Publications post-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Section-->

      <!--begin::Card-->
      <div class="card mb-4 bg-light text-center">
        <!--begin::Body-->
        <div class="card-body py-12">
          <!--begin::Icon-->
          <a href="#" class="mx-4">
            <img
              src="assets/media/svg/brand-logos/facebook-4.svg"
              class="h-30px my-2"
              alt=""
            />
          </a>
          <!--end::Icon-->
          <!--begin::Icon-->
          <a href="#" class="mx-4">
            <img
              src="assets/media/svg/brand-logos/instagram-2-1.svg"
              class="h-30px my-2"
              alt=""
            />
          </a>
          <!--end::Icon-->
          <!--begin::Icon-->
          <a href="#" class="mx-4">
            <img
              src="assets/media/svg/brand-logos/github.svg"
              class="h-30px my-2"
              alt=""
            />
          </a>
          <!--end::Icon-->
          <!--begin::Icon-->
          <a href="#" class="mx-4">
            <img
              src="assets/media/svg/brand-logos/behance.svg"
              class="h-30px my-2"
              alt=""
            />
          </a>
          <!--end::Icon-->
          <!--begin::Icon-->
          <a href="#" class="mx-4">
            <img
              src="assets/media/svg/brand-logos/pinterest-p.svg"
              class="h-30px my-2"
              alt=""
            />
          </a>
          <!--end::Icon-->
          <!--begin::Icon-->
          <a href="#" class="mx-4">
            <img
              src="assets/media/svg/brand-logos/twitter.svg"
              class="h-30px my-2"
              alt=""
            />
          </a>
          <!--end::Icon-->
          <!--begin::Icon-->
          <a href="#" class="mx-4">
            <img
              src="assets/media/svg/brand-logos/dribbble-icon-1.svg"
              class="h-30px my-2"
              alt=""
            />
          </a>
          <!--end::Icon-->
        </div>
        <!--end::Body-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Body-->
  </div>
</div>
