
<p>⚠️Arkadaşlar bir sürü kütüphane yükledim npm install demeyi unutmayın!⚠️ <br/>Güven için örnek bir select <br/>NgPrime kütüphanseinde geliyor <br/>ayrca buna class eklemeyi denemedim 👇</p>
<p-multiSelect 
    [options]="cities" 
    [(ngModel)]="selectedCities" 
    optionLabel="name" 
    placeholder="Select Cities" />

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
        Launch demo modal
    </button>
    
    <div class="modal fade" tabindex="-1" id="kt_modal_1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Modal title</h3>
    
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
    
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>