<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><div class="col text-center mb-9">
    <!--begin::Photo-->
    <div
      class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
      style="background-image: url('assets/media/avatars/300-20.jpg')"
    ></div>
    <!--end::Photo-->
    <!--begin::Person-->
    <div class="mb-0">
      <!--begin::Name-->
      <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
        >Cihan Yüksel</a
      >
      <!--end::Name-->
      <!--begin::Position-->
      <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
      <!--begin::Position-->
    </div>
    <!--end::Person-->
  </div></ng-template>  
  <ng-template carouselSlide><div class="col text-center mb-9">
    <!--begin::Photo-->
    <div
      class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
      style="background-image: url('assets/media/avatars/300-20.jpg')"
    ></div>
    <!--end::Photo-->
    <!--begin::Person-->
    <div class="mb-0">
      <!--begin::Name-->
      <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
        >Zeynep Yaşar</a
      >
      <!--end::Name-->
      <!--begin::Position-->
      <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
      <!--begin::Position-->
    </div>
    <!--end::Person-->
  </div></ng-template>  
  <ng-template carouselSlide><div class="col text-center mb-9">
    <!--begin::Photo-->
    <div
      class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
      style="background-image: url('assets/media/avatars/300-20.jpg')"
    ></div>
    <!--end::Photo-->
    <!--begin::Person-->
    <div class="mb-0">
      <!--begin::Name-->
      <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
        >Ayşe Kardaşyan</a
      >
      <!--end::Name-->
      <!--begin::Position-->
      <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
      <!--begin::Position-->
    </div>
    <!--end::Person-->
  </div></ng-template>  
  <ng-template carouselSlide><div class="col text-center mb-9">
    <!--begin::Photo-->
    <div
      class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
      style="background-image: url('assets/media/avatars/300-20.jpg')"
    ></div>
    <!--end::Photo-->
    <!--begin::Person-->
    <div class="mb-0">
      <!--begin::Name-->
      <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
        >Ayşe Kardaşyan</a
      >
      <!--end::Name-->
      <!--begin::Position-->
      <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
      <!--begin::Position-->
    </div>
    <!--end::Person-->
  </div></ng-template>  
</owl-carousel-o>
<div>Some tags after</div>