<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <app-header />

    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <app-sidebar />

      <!--begin::Main-->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">
          <!--begin::Toolbar-->

          <app-toolbar/>
          <!--end::Toolbar-->
          <!--begin::Content-->
          <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div
              id="kt_app_content_container"
              class="app-container container-fluid"
            >
              <div class="row gx-5 gx-xl-10">
                <div class="col-xxl-6 mb-5 mb-xl-10">
                  main
                  <router-outlet />
                </div>
              </div>
            </div>
            <!--end::Content container-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Content wrapper-->
        <!--begin::Footer-->
        <div
          id="kt_app_footer"
          class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3"
        >
          <!--begin::Copyright-->
          <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">2023&copy;</span>
            <a
              href="https://keenthemes.com"
              target="_blank"
              class="text-gray-800 text-hover-primary"
              >Keenthemes</a
            >
          </div>
          <!--end::Copyright-->
          <!--begin::Menu-->
          <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item">
              <a
                href="https://keenthemes.com"
                target="_blank"
                class="menu-link px-2"
                >About</a
              >
            </li>
            <li class="menu-item">
              <a
                href="https://devs.keenthemes.com"
                target="_blank"
                class="menu-link px-2"
                >Support</a
              >
            </li>
            <li class="menu-item">
              <a
                href="https://keenthemes.com/products/saul-html-pro"
                target="_blank"
                class="menu-link px-2"
                >Purchase</a
              >
            </li>
          </ul>
          <!--end::Menu-->
        </div>
        <!--end::Footer-->
      </div>
      <!--end:::Main-->
      <!--begin::aside-->

      <app-aside />
    </div>
  </div>
</div>
