<!-- confirmation-modal.component.html -->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="dismiss()">{{ cancelButtonText }}</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">{{ confirmButtonText }}</button>
      </div>
    </div>
  </div>
</div>

