<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
       
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-fluid">
                <!--begin::Contact-->
                <div class="card">
                    <!--begin::Body-->
                    <div class="card-body p-lg-17">
                        <!--begin::Row-->
                        <div class="row mb-3">
                            <!--begin::Col-->
                            <div class="col-md-6 pe-lg-10">
                                <!--begin::Form-->
                                <form action="" class="form mb-15" method="post" id="kt_contact_form">
                                    <h1 class="fw-bold text-dark mb-9">Mail Gönder</h1>
                                    <!--begin::Input group-->
                                    <div class="row mb-5">
                                        <!--begin::Col-->
                                        <div class="col-md-6 fv-row">
                                            <!--begin::Label-->
                                            <label class="fs-5 fw-semibold mb-2">İsim</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" class="form-control form-control-solid" placeholder="" name="name" />
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Col-->
                                        <!--begin::Col-->
                                        <div class="col-md-6 fv-row">
                                            <!--end::Label-->
                                            <label class="fs-5 fw-semibold mb-2">Email</label>
                                            <!--end::Label-->
                                            <!--end::Input-->
                                            <input type="text" class="form-control form-control-solid" placeholder="" name="email" />
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="d-flex flex-column mb-5 fv-row">
                                        <!--begin::Label-->
                                        <label class="fs-5 fw-semibold mb-2">Konu</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input class="form-control form-control-solid" placeholder="" name="subject" />
                                        <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="d-flex flex-column mb-10 fv-row">
                                        <label class="fs-6 fw-semibold mb-2">Mesaj</label>
                                        <textarea class="form-control form-control-solid" rows="6" name="message" placeholder=""></textarea>
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Submit-->
                                    <button type="submit" class="btn btn-primary" id="kt_contact_submit_button">
                                        <!--begin::Indicator label-->
                                        <span class="indicator-label">Gönder</span>
                                        <!--end::Indicator label-->
                                        <!--begin::Indicator progress-->
                                        <span class="indicator-progress">Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        <!--end::Indicator progress-->
                                    </button>
                                    <!--end::Submit-->
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-md-6 ps-lg-10">
                                <!--begin::Map-->
                                <div id="kt_contact_map" class="w-100 rounded mb-2 mb-lg-0 mt-2" style="height: 486px"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.5893764296593!2d29.026596375867896!3d40.990471520521496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9f0b8afbb1f%3A0x703cd0993370cf84!2zS2FkxLFrw7Z5IEJvxJ9hIEhleWtlbGk!5e0!3m2!1str!2str!4v1714679619162!5m2!1str!2str" width="370" height="486" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                                
                                <!--end::Map-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row g-5 mb-5 mb-lg-15">
                            <!--begin::Col-->
                            <div class="col-sm-6 pe-lg-10">
                                <!--begin::Phone-->
                                <div class="bg-light card-rounded d-flex flex-column flex-center flex-center p-10 h-100">
                                    <!--begin::Icon-->
                                    <i class="ki-duotone ki-briefcase fs-3tx text-primary">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <h1 class="text-dark fw-bold my-5">Hadi Konuşalım</h1>
                                    <!--end::Subtitle-->
                                    <!--begin::Number-->
                                    <div class="text-gray-700 fw-semibold fs-2">0(533) 597-7538</div>
                                    <!--end::Number-->
                                </div>
                                <!--end::Phone-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-sm-6 ps-lg-10">
                                <!--begin::Address-->
                                <div class="text-center bg-light card-rounded d-flex flex-column flex-center p-10 h-100">
                                    <!--begin::Icon-->
                                    <i class="ki-duotone ki-geolocation fs-3tx text-primary">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <h1 class="text-dark fw-bold my-5">Ziyaret Et</h1>
                                    <!--end::Subtitle-->
                                    <!--begin::Description-->
                                    <div class="text-gray-700 fs-3 fw-semibold">Bahariye cad. 1052. Sokak, no: 16  İstanbul/Kadıköy</div>
                                    <!--end::Description-->
                                </div>
                                <!--end::Address-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                        <!--begin::Card-->
                        <div class="card mb-4 bg-light text-center">
                            <!--begin::Body-->
                            <div class="card-body py-12">
                                <!--begin::Icon-->
                                <a href="#" class="mx-4">
                                    <img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="" />
                                </a>
                                <!--end::Icon-->
                                <!--begin::Icon-->
                                <a href="#" class="mx-4">
                                    <img src="assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2" alt="" />
                                </a>
                                <!--end::Icon-->
                                <!--begin::Icon-->
                                <a href="#" class="mx-4">
                                    <img src="assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="" />
                                </a>
                                <!--end::Icon-->
                                <!--begin::Icon-->
                                <a href="#" class="mx-4">
                                    <img src="assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="" />
                                </a>
                                <!--end::Icon-->
                                <!--begin::Icon-->
                                <a href="#" class="mx-4">
                                    <img src="assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2" alt="" />
                                </a>
                                <!--end::Icon-->
                                <!--begin::Icon-->
                                <a href="#" class="mx-4">
                                    <img src="assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="" />
                                </a>
                                <!--end::Icon-->
                                <!--begin::Icon-->
                                <a href="#" class="mx-4">
                                    <img src="assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2" alt="" />
                                </a>
                                <!--end::Icon-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Contact-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
   
</div>