<div class="text-center mb-17">
    <!--begin::Title-->
    <h3 class="fs-2hx text-dark mb-5">Takımımız</h3>
    <!--end::Title-->
    <!--begin::Sub-title-->
    <div class="fs-5 text-muted fw-semibold">
        Hayat bir kitaptır ve her bir sayfası bir hikaye barındırır. Biz, bu büyülü dünyanın kapılarını aralayan bir anahtarız.<br/> Takımımız, sayfalar arasında gizlenmiş her hazineyi keşfetmeniz için özveriyle çalışıyor. Her bir eseri sevgi ve özenle sunmak için çabalıyoruz, çünkü inanıyoruz ki, kelimelerin gücüyle insanları aydınlatmak ve dönüştürmek mümkündür...
    </div>
    <!--end::Sub-title=-->
  </div>
  <!--end::Heading-->
 
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><div class="col text-center mb-9">
      <!--begin::Photo-->
      <div
        class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
        style="background-image: url('assets/media/avatars/300-20.jpg')"
      ></div>
      <!--end::Photo-->
      <!--begin::Person-->
      <div class="mb-0">
        <!--begin::Name-->
        <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
          >Zeynep Yaşar</a
        >
        <!--end::Name-->
        <!--begin::Position-->
        <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
        <!--begin::Position-->
      </div>
      <!--end::Person-->
    </div></ng-template> 
    <ng-template carouselSlide><div class="col text-center mb-9">
      <!--begin::Photo-->
      <div
        class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
        style="background-image: url('assets/media/avatars/300-20.jpg')"
      ></div>
      <!--end::Photo-->
      <!--begin::Person-->
      <div class="mb-0">
        <!--begin::Name-->
        <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
          >Ebru Zeynep Adıgüzel</a
        >
        <!--end::Name-->
        <!--begin::Position-->
        <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
        <!--begin::Position-->
      </div>
      <!--end::Person-->
    </div></ng-template> 
    <ng-template carouselSlide><div class="col text-center mb-9">
      <!--begin::Photo-->
      <div
        class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
        style="background-image: url('assets/images/team/cihan.jpg')"
      ></div>
      <!--end::Photo-->
      <!--begin::Person-->
      <div class="mb-0">
        <!--begin::Name-->
        <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
          >Cihan Yüksel</a
        >
        <!--end::Name-->
        <!--begin::Position-->
        <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
        <!--begin::Position-->
      </div>
      <!--end::Person-->
    </div></ng-template>  
    <ng-template carouselSlide><div class="col text-center mb-9">
      <!--begin::Photo-->
      <div
        class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
        style="background-image: url('assets/images/team/guven.jpg')"
      ></div>
      <!--end::Photo-->
      <!--begin::Person-->
      <div class="mb-0">
        <!--begin::Name-->
        <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
          >Güven Çabat</a
        >
        <!--end::Name-->
        <!--begin::Position-->
        <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
        <!--begin::Position-->
      </div>
      <!--end::Person-->
    </div></ng-template> 
   
    <ng-template carouselSlide><div class="col text-center mb-9">
      <!--begin::Photo-->
      <div
        class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center"
        style="background-image: url('assets/images/team/ayse.jpg')"
      ></div>
      <!--end::Photo-->
      <!--begin::Person-->
      <div class="mb-0">
        <!--begin::Name-->
        <a href="#" class="text-dark fw-bold text-hover-primary fs-3"
          >Ayşe Kardaş</a
        >
        <!--end::Name-->
        <!--begin::Position-->
        <div class="text-muted fs-6 fw-semibold">Full-stack developer</div>
        <!--begin::Position-->
      </div>
      <!--end::Person-->
    </div></ng-template>    
  </owl-carousel-o>