<form [ngClass]="{'signin': showRegisterForm}" [formGroup]="registerForm" >
    <h2>Üye Ol</h2>
    <div class="inputbox">
        <input formControlName="firstName" type="text" required>
        <label for="">İsim</label>
    </div>
    <div class="inputbox">
        <input formControlName="lastName" type="text" required>
        <label for="">Soyisim</label>
    </div>
    <div class="inputbox">
        <input formControlName="tc" type="text" required>
        <label for="">TC</label>
    </div>
    <div class="inputbox">
        <input formControlName="phoneNumber"type="phone" required>
        <label for="">Telefon</label>
    </div>
    <div class="inputbox">
        <input formControlName="email" type="email" required>
        <label for="">Email</label>
    </div>
    <div class="inputbox">
        <input formControlName="password" type="password" required>
        <label for="">Şifre</label>
    </div>
    <div class="inputbox">
        <input type="password" required>
        <label for="">Tekrar Şifre</label>
    </div>
    <button>Üye Ol</button>
    <div class="register">
        <p>Hesabın var mı?<a href="#" (click)="callLoginHandler(); $event.preventDefault();"> giriş yap</a></p>
    </div>
</form>