	<!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <!--begin::FAQ card-->
            <div class="card">
                <!--begin::Body-->
                <div class="card-body p-lg-15">
                    <!--begin::Layout-->
                    <div class="d-flex flex-column flex-lg-row">
                      
                        <!--begin::Content-->
                        <div class="flex-lg-row-fluid">
                            <!--begin::Extended content-->
                            <div class="mb-13">
                                <!--begin::Content-->
                                <div class="mb-15">
                                    <!--begin::Title-->
                                    <h4 class="fs-2x text-gray-800 w-bolder mb-6">Sık Sorulan Sorular</h4>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <p class="fw-semibold fs-4 text-gray-600 mb-2">Güncel bilgiye hızlı ve kolay erişim sağlayan kütüphane web sitemize hoş geldiniz! Sıkça sorulan sorular bölümümüzde, kütüphane hizmetleri, kaynaklar ve etkinliklerle ilgili merak ettiğiniz her şeyi bulabilirsiniz.</p>
                                    <!--end::Text-->
                                </div>
                                <!--end::Content-->
                                <!--begin::Item-->
                                <div class="mb-15">
                                    
                                    <!--begin::Accordion-->
                                    <!--begin::Section-->
                                    <div class="m-0">
                                        <!--begin::Heading-->
                                        <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_8_1">
                                            <!--begin::Icon-->
                                            <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                <i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                                <i class="ki-duotone ki-plus-square toggle-off fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Title-->
                                            <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Kütüphane Kartı Başvurusu Nasıl Yapılır?</h4>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->
                                        <!--begin::Body-->
                                        <div id="kt_job_8_1" class="collapse show fs-6 ms-1">
                                            <!--begin::Text-->
                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Bu makalede, kütüphane kartı başvurusu için gereken adımlar ve gerekli belgeler hakkında detaylı bilgi verilebilir. Başvuru sürecinin nasıl tamamlanacağı, hangi bilgilerin gerekli olduğu ve başvurunun nasıl onaylanacağı gibi konular ele alınabilir.</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                        <!--begin::Separator-->
                                        <div class="separator separator-dashed"></div>
                                        <!--end::Separator-->
                                    </div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <div class="m-0">
                                        <!--begin::Heading-->
                                        <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_8_2">
                                            <!--begin::Icon-->
                                            <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                <i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                                <i class="ki-duotone ki-plus-square toggle-off fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Title-->
                                            <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Ödünç Kitap Süreleri ve İade Prosedürleri Nelerdir?</h4>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->
                                        <!--begin::Body-->
                                        <div id="kt_job_8_2" class="collapse fs-6 ms-1">
                                            <!--begin::Text-->
                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Bu makalede, kütüphaneden ödünç alınan kitapların ne kadar süreyle kullanılabileceği, süre uzatma işlemleri, iade prosedürleri ve gecikme cezaları gibi konular açıklanabilir. Kullanıcıların ödünç kitapları nasıl yönetebilecekleri hakkında bilgi verilebilir.</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                        <!--begin::Separator-->
                                        <div class="separator separator-dashed"></div>
                                        <!--end::Separator-->
                                    </div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <div class="m-0">
                                        <!--begin::Heading-->
                                        <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_8_3">
                                            <!--begin::Icon-->
                                            <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                <i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                                <i class="ki-duotone ki-plus-square toggle-off fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Title-->
                                            <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Online Kaynaklar ve Elektronik Veritabanları Nasıl Kullanılır?</h4>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->
                                        <!--begin::Body-->
                                        <div id="kt_job_8_3" class="collapse fs-6 ms-1">
                                            <!--begin::Text-->
                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Bu makalede, kütüphanenin sunduğu online kaynaklar, elektronik veritabanları ve dijital koleksiyonlara erişim sağlama yöntemleri anlatılabilir. Kullanıcılar için arama stratejileri, veritabanı tarama teknikleri ve kaynaklardan yararlanma ipuçları sunulabilir.</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                        <!--begin::Separator-->
                                        <div class="separator separator-dashed"></div>
                                        <!--end::Separator-->
                                    </div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <div class="m-0">
                                        <!--begin::Heading-->
                                        <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_8_4">
                                            <!--begin::Icon-->
                                            <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                <i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                                <i class="ki-duotone ki-plus-square toggle-off fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Title-->
                                            <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Kütüphane İçi Hizmetler ve Etkinlikler Nelerdir?</h4>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->
                                        <!--begin::Body-->
                                        <div id="kt_job_8_4" class="collapse fs-6 ms-1">
                                            <!--begin::Text-->
                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Bu makalede, kütüphanenin sağladığı iç hizmetler, kullanıcı etkinlikleri, atölyeler ve seminerler hakkında bilgi verilebilir. Kullanıcılar için düzenlenen etkinliklerin programı, kayıt prosedürleri ve katılım koşulları gibi konular ele alınabilir.</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Section-->
                                     <!--begin::Section-->
                                     <div class="m-0">
                                        <!--begin::Heading-->
                                        <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_8_4">
                                            <!--begin::Icon-->
                                            <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                <i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                                <i class="ki-duotone ki-plus-square toggle-off fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Title-->
                                            <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Kütüphane Kuralları ve Davranış Standartları Nelerdir?
                                            </h4>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->
                                        <!--begin::Body-->
                                        <div id="kt_job_8_4" class="collapse fs-6 ms-1">
                                            <!--begin::Text-->
                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Bu makalede, kütüphanenin kullanım kuralları, sessizlik politikası, kitap düzenleme prosedürleri ve diğer davranış standartları hakkında bilgi verilebilir. Kullanıcıların kütüphaneyi etkili bir şekilde kullanabilmeleri için uyulması gereken kurallar açıklanabilir.</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Section-->
                                    <!--end::Accordion-->
                                </div>
                                <!--end::Item-->
                             
                            </div>
                            <!--end::Extended content-->
                        </div>
                        <!--end::Content-->
                        
                    </div>
                    <!--end::Layout-->
                
                  

                   <app-socials/>

                </div>
                <!--end::Body-->
            </div>
            <!--end::FAQ card-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
    