#kt_material_table th,
#kt_material_table td {
    text-align: center;
}

#kt_material_table th:last-child,
#kt_material_table td:last-child {
    text-align: center;
}

.table thead th {
    color: #333; /* Koyu gri tonu */
    font-weight: bold; /* Kalın font */
}

.table tfoot th {
    color: #333; /* Koyu gri tonu */
    font-weight: bold; /* Kalın font */
}

.table tbody td {
    color: #333; /* Koyu gri tonu */
}

