<div class="row">
  <!--1.Sutun-->
  <form class="col-md-4" action="">
    <!--begin::Input group Dropdown-Select-->
    <div class="form-group">
      <!--Material Start-->
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Bir Materyal Seç</option>
          <option value="1">Materyal 1</option>
          <option value="2">Materyal 2</option>
          <option value="3">Materyal 3</option>
        </select>
        <label for="floatingSelect">Materyal Seç</label>
      </div>
      <!--end::Input group Dropdown-Select-->

      


      <select [(ngModel)]="materialSelectObj.id" class="form-select">
        <option *ngFor="let material of materialList" [value]="material.id">{{material.name}}</option>
      </select>
      <br />
      <a
        id="btnAddMaterial"
        class="btn btn-info"
        (click)="openModal('materialModal')"
        >Yeni Materyal</a
      >
      <br />
      <!--Material End-->
      <!--MaterialCopy Start-->
      <br />
      <a
        id="btnAddMaterialCopy"
        class="btn btn-info"
        (click)="openModal('materialCopyModal')"
        >Yeni Materyal Kopyası</a
      >
      <br />
      <!--MaterialCopy End-->
    </div>
  </form>
  <!--2.Sutun-->
  <form action="" class="col-md-4">
    <div class="form-group"></div>
  </form>
  <!--3.Sutun-->
  <!--Author Start-->
  <form action="" class="col-md-4">
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Bir Yazar Seç</option>
          <option value="1">Yazar 1</option>
          <option value="2">Yazar 2</option>
          <option value="3">Yazar 3</option>
        </select>
        <label for="floatingSelect">Yazar Seç</label>
      </div>
      <br />
      <a
        id="btnAddAutor"
        class="btn btn-info"
        (click)="openModal('authorModal')"
        >Yeni Yazar</a
      >
    </div>
    <!--Autor End-->
    <br />
    <!--Publisher Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Bir Yayın Evi Seç</option>
          <option value="1">Yayın Evi 1</option>
          <option value="2">Yayın Evi 2</option>
          <option value="3">Yayın Evi 3</option>
        </select>
        <label for="floatingSelect">Yayın Evi Seç</label>
      </div>
      <br />
      <a
        id="btnAddPublisher"
        class="btn btn-info"
        (click)="openModal('publisherModal')"
        >Yeni Yayın Evi</a
      >
    </div>
    <!--Publisher End-->
    <br />
    <!--Translator Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Bir Çevirmen Seç</option>
          <option value="1">Çevirmen 1</option>
          <option value="2">Çevirmen 2</option>
          <option value="3">Çevirmen 3</option>
        </select>
        <label for="floatingSelect">Çevirmen Seç</label>
      </div>
      <br />
      <a
        id="btnAddTranslator"
        class="btn btn-info"
        (click)="openModal('translatorModal')"
        >Yeni Çevirmen</a
      >
    </div>
    <br />
    <!--Translator End-->
    <br />
    <!--Language Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Bir Dil Seç</option>
          <option value="1">Dil 1</option>
          <option value="2">Dil 2</option>
          <option value="3">Dil 3</option>
        </select>
        <label for="floatingSelect">Dil Seç</label>
      </div>
      <br />
      <a
        id="btnAddLanguage"
        class="btn btn-info"
        (click)="openModal('languageModal')"
        >Yeni Dil</a
      >
    </div>
    <br />
    <!--Language End-->
    <!--Location Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Bir Lokasyon Seç</option>
          <option value="1">Lokasyon 1</option>
          <option value="2">Lokasyon 2</option>
          <option value="3">Lokasyon 3</option>
        </select>
        <label for="floatingSelect">Lokasyon Seç</label>
      </div>
      <br />
      <a
        id="btnAddLocation"
        class="btn btn-info"
        (click)="openModal('locationModal')"
        >Yeni Lokasyon</a
      >
    </div>
    <br />
    <!--Location End-->
  </form>
</div>
<!--MODALS-->
<!--Material Modal -- materyal ekle modalı-->
<div id="materialModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Materyal Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('materialModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Materyal Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="MaterialName"
              aria-label="MaterialName"
              aria-describedby="basic-addon1"
              formControlName="name"
            />
          </div>
          <!--begin::Input group-->
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Description"
              id="description"
              style="height: 100px"
              formControlName="description"
            ></textarea>
            <label for="floatingTextarea2">Açıklama</label>
          </div>
          <br />
          <!--end::Input group-->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="isBorrowable"
              formControlName="isBorrowable"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Ödünç Alınabilir
            </label>
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >Ödünç Gün Sayısı</span
            >
            <input
              id="borrowDay"
              type="number"
              class="form-control"
              placeholder="0"
              aria-label="BorrowDay"
              aria-describedby="basic-addon1"
              formControlName="borrowDay"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text">Günlük Ceza Miktarı: ₺</span>
            <input
              id="punishmentAmount"
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              formControlName="punishmentAmount"
            />
            <span class="input-group-text">.00</span>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('materialModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" >Submit</button>
      </div>
    </div>
  </div>
</div>
<!--Material Modal -- materyal ekle Sonu-->
<!--MaterialCopy Modal -- materyalKopyası ekle modalı-->
<div id="materialCopyModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yazar Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('materialCopyModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form class="form-group">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
            >
              <option selected>Bir Materyal Seç</option>
              <option value="1">Materyal 1</option>
              <option value="2">Materyal 2</option>
              <option value="3">Materyal 3</option>
            </select>
            <label for="floatingSelect">Materyal Seç</label>
          </div>
          <br />
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
            >
              <option selected>Bir Branch Seç</option>
              <option value="1">Branch 1</option>
              <option value="2">Branch 2</option>
              <option value="3">Branch 3</option>
            </select>
            <label for="floatingSelect">Branch Seç</label>
          </div>
          <br />
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
            >
              <option selected>Bir Materyal Lokasyonu Seç</option>
              <option value="1">Materyal Lokasyonu 1</option>
              <option value="2">Materyal Lokasyonu 2</option>
              <option value="3">Materyal Lokasyonu 3</option>
            </select>
            <label for="floatingSelect">Materyal Lokasyonu Seç</label>
          </div>
          <br />
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Status</span>
            <input
              id="status"
              type="text"
              class="form-control"
              placeholder="Status"
              aria-label="Status"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="isReservable"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Ayırtılabilir
            </label>
          </div>
          <br /><br />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="isReserved"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Ayrıldı
            </label>
          </div>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('materialCopyModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--MaterialCopy Modal -- materyal ekle Sonu-->
<!--Author Modal -- yazar ekle modalı-->
<div id="authorModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yazar Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('authorModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form action="">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="firstname"
              type="text"
              class="form-control"
              placeholder="FirstName"
              aria-label="FirstName"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Soyadı</span>
            <input
              id="lastname"
              type="text"
              class="form-control"
              placeholder="Last Name"
              aria-label="LastName"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Ülkesi</span>
            <input
              id="country"
              type="text"
              class="form-control"
              placeholder="Country"
              aria-label="Country"
              aria-describedby="basic-addon1"
            />
          </div>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('authorModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Author Modal -- yazar ekle Sonu-->
<!--Publisher Modal -- yayınEvi ekle modalı-->
<div id="publisherModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yayın Evi Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('publisherModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form class="form-group">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Yayın Yeri</span>
            <input
              id="publicationPlace"
              type="text"
              class="form-control"
              placeholder="PublicationPlace"
              aria-label="PublicationPlace"
              aria-describedby="basic-addon1"
            />
          </div>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('publisherModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Publisher Modal End -- yayın evi ekle Sonu-->
<!--Translator Modal -- çevirmen ekle modalı-->
<div id="translatorModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Çevirmen Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('translatorModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form class="form-group">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Description"
              id="description"
              style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Açıklama</label>
          </div>
          <br />
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('translatorModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Translator Modal End -- çevirmen ekle Sonu-->
<!--Language Modal -- dil ekle modalı-->
<div id="languageModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dil Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('languageModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form class="form-group">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
            />
          </div>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('languageModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Language Modal End -- dil ekle Sonu-->
<!--Location Modal -- dil ekle modalı-->
<div id="locationModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dil Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('locationModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form class="form-group">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Kat</span>
            <input
              id="floor"
              type="text"
              class="form-control"
              placeholder="Floor"
              aria-label="Floor"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Koridor</span>
            <input
              id="corridor"
              type="text"
              class="form-control"
              placeholder="Corridor"
              aria-label="Corridor"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Raf</span>
            <input
              id="shelf"
              type="text"
              class="form-control"
              placeholder="Shelf"
              aria-label="Shelf"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">RafKatı</span>
            <input
              id="shelfFloor"
              type="text"
              class="form-control"
              placeholder="ShelfFloor"
              aria-label="ShelfFloor"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >RafSıraNumarası</span
            >
            <input
              id="shelfLineNumber"
              type="text"
              class="form-control"
              placeholder="ShelfLineNumber"
              aria-label="ShelfLineNumber"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >TamLokasyonHaritası</span
            >
            <input
              id="fullLocationMap"
              type="text"
              class="form-control"
              placeholder="FullLocationMap"
              aria-label="FullLocationMap"
              aria-describedby="basic-addon1"
            />
          </div>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('locationModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Location Modal End -- dil ekle Sonu-->
