<div class="row" >
  <!--1.Sutun-->
  <form class="col-md-4 justify-content-start text-start">
  <h5><strong>Materyal Özellikleri</strong></h5>
<br>
    <!--begin::Input group Dropdown-Select-->
    <div class="form-group">
      <!--Material Start-->
      <input type="text">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected></option>
          <option *ngFor="let material of materialList" [value]="material.id">
            {{ material.name }}
          </option>
        </select>
        <label for="floatingSelect">Materyal Seç</label>
      </div>
      <!--end::Input group Dropdown-Select-->
      <br />
      <a
      id="btnAddMaterial"
      class="btn btn-info"
      (click)="openModal('materialModal')"
      >Yeni Materyal</a
    >

<br>
     
      <br>
      <a
      id="btnUpdateMaterial"
      class="btn btn-warning"
      (click)="openModal('updateMaterialModal')"
      >Materyal Güncelle</a
    >
    <br />
      <!--Material End-->
      
      <!--MaterialCopy Start-->
      <br />
      <a
        id="btnAddMaterialCopy"
        class="btn btn-info"
        (click)="openModal('materialCopyModal')"
        >Yeni Materyal Kopyası</a
      >
      <br />
      <!--MaterialCopy End-->
      <!--MaterialImage Start-->
      <br />
      <a
        id="btnAddMaterialImage"
        class="btn btn-info"
        (click)="openModal('materialImageModal')"
        >Yeni Materyal Fotoğrafı yükle</a
      >
      <br />
      <br>
      <!--MaterialImage End-->
      <!--MaterialGenre Start-->
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected></option>
          <option *ngFor="let genre of genreList" [value]="genre.id">
            {{ genre.name }}
          </option>
        </select>
        <label for="floatingSelect">Materyal Türü/Kategorisi Seç</label>
      </div>
      <br />
      <a
        id="btnAddGenre"
        class="btn btn-info"
        (click)="openModal('genreModal')"
        >Yeni tür/kategori ekle</a
      >
      <br /><br />
      <a
        id="btnSelectMaterialGenre"
        class="btn btn-warning"
        (click)="openModal('materialGenreModal')"
        >Material tür/kategori eşle</a
      >
      <!--MaterialGenre End-->
    </div>
  </form>
  <!--2.Sutun-->
  
  <form action="" class="col-md-4 justify-content-center text-center">
    <div><h5><strong>İlişkiler</strong></h5></div>
    <br>
    <div class="form-group">
      <!--Material-Yazar Eşle Start-->
      <a
        id="btnRelateMaterialAuthor"
        class="btn btn-primary"
        (click)="openModal('authorMaterialModal')"
        >Materyal-Yazar Eşle</a
      >
      <br />
      <!--Material-Yazar Eşle End-->
            <!--Material-YayınEvi Eşle Start-->
            <br />
            <a
              id="btnRelateMaterialPublisher"
              class="btn btn-primary"
              (click)="openModal('publisherMaterialModal')"
              >Materyal-YayınEvi Eşle</a
            >
            <br />
            <!--Material-YayınEvi Eşle End-->
      <!--Material-çevirmen Eşle Start-->
      <br />
      <a
        id="btnRelateMaterialTranslator"
        class="btn btn-primary"
        (click)="openModal('translatorMaterialModal')"
        >Materyal-Çevirmen Eşle</a
      >
      <br />
      <!--Material-Çevirmen Eşle End-->

      <!--Material-Dil Eşle Start-->
      <br />
      <a
        id="btnRelateMaterialLanguage"
        class="btn btn-primary"
        (click)="openModal('languageMaterialModal')"
        >Materyal-Dil Eşle</a
      >
      <br />
      <!--Material-Dil Eşle End-->
    </div>
  </form>
  <!--3.Sutun-->
  <!--Author Start-->
  <form action="" class="col-md-4 justify-content-end text-end">
    <h5><strong>Diğer Özellikler</strong></h5>
    <br>
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
        <option selected></option>
        <option *ngFor="let author of authorList" [value]="author.id">
          {{ author.firstName }} {{ author.lastName }}
        </option>
        </select>
        <label for="floatingSelect">Yazar Seç</label>
      </div>
      <br />
      <a
        id="btnAddAuthor"
        class="btn btn-info"
        (click)="openModal('authorModal')"
        >Yeni Yazar</a
      >
    </div>
    <br>
      <a
      id="btnUpdateAuthor"
      class="btn btn-warning"
      (click)="openModal('updateAuthorModal')"
      >Yazar Güncelle</a
    >
    <br />
    <!--Author End-->
    <br />
    <!--Publisher Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
        <option selected></option>
        <option *ngFor="let publisher of publisherList" [value]="publisher.id">
          {{ publisher.name }}
        </option>
        </select>
        <label for="floatingSelect">Yayın Evi Seç</label>
      </div>
      <br />
      <a
        id="btnAddPublisher"
        class="btn btn-info"
        (click)="openModal('publisherModal')"
        >Yeni Yayın Evi</a
      >
    </div>
    <!--Publisher End-->
    <br />
    <!--Translator Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
        <option selected></option>
        <option *ngFor="let translator of translatorList" [value]="translator.id">
          {{ translator.name }}
        </option>
        </select>
        <label for="floatingSelect">Çevirmen Seç</label>
      </div>
      <br />
      <a
        id="btnAddTranslator"
        class="btn btn-info"
        (click)="openModal('translatorModal')"
        >Yeni Çevirmen</a
      >
    </div>
    <br />
    <!--Translator End-->
    <br />
    <!--Language Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
        <option selected></option>
        <option *ngFor="let language of languageList" [value]="language.id">
          {{ language.name }}
        </option>
        </select>
        <label for="floatingSelect">Dil Seç</label>
      </div>
      <br />
      <a
        id="btnAddLanguage"
        class="btn btn-info"
        (click)="openModal('languageModal')"
        >Yeni Dil</a
      >
    </div>
    <br>
    <!--Language End-->
    <!--Location Start-->
    <div class="form-group">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
        <option selected></option>
        <option
          *ngFor="let location of locationList"
          [value]="location.id"
        >
          {{ location.fullLocationMap }}
        </option>
        </select>
        <label for="floatingSelect">Lokasyon Seç</label>
      </div>
      <br />
      <a
        id="btnAddLocation"
        class="btn btn-info"
        (click)="openModal('locationModal')"
        >Yeni Lokasyon</a
      >
      <br />
      <a
        id="btnUpdateLocation"
        class="btn btn-warning"
        (click)="openModal('updateLocationModal')"
        >Lokasyon Güncelle</a
      >
    </div>
    <br />
    <!--Location End-->
  </form>
</div>
<!--MODALS-->
<!--Material Modal -- materyal ekle modalı-->
<div id="materialModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Materyal Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('materialModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="materialForm" (ngSubmit)="onSubmitMaterialForm()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Materyal Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="MaterialName"
              aria-label="MaterialName"
              aria-describedby="basic-addon1"
              formControlName="name"
            />
          </div>
          <!--begin::Input group-->
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Description"
              id="description"
              style="height: 100px"
              formControlName="description"
            ></textarea>
            <label for="floatingTextarea2">Açıklama</label>
          </div>
          <br />
          <!--end::Input group-->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="false"
              id="isBorrowable"
              formControlName="isBorrowable"
              [(ngModel)]="isBorrowable"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Ödünç Alınabilir
            </label>
          </div>

        <br>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >Ödünç Gün Sayısı</span
            >
            <input
              id="borrowDay"
              type="number"
              class="form-control"
              placeholder="0"
              value="0"
              aria-label="BorrowDay"
              aria-describedby="basic-addon1"
              formControlName="borrowDay"
              
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text">Günlük Ceza Miktarı: ₺</span>
            <input
              id="punishmentAmount"
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              formControlName="punishmentAmount"
              
            />
            <span class="input-group-text">.00</span>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('materialModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!--Material Modal -- materyal ekle Sonu-->




 <!--UpdateMaterial Modal -- materyal düzenle modalı-->
 <div id="updateMaterialModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Materyal Düzenle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('updateMaterialModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form
        [formGroup]="updateMaterialForm"
        (ngSubmit)="onSubmitUpdateMaterialForm()"
      >
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
          (change)="onMaterialSelect($event)"
        >
          <option selected></option>
          <option
            *ngFor="let material of materialList"
            [value]="material.id"
          >
            {{ material.name }}
          </option>
        </select>
        <label for="floatingSelect">Materyal Seç</label>
      </div>

      <br />
            <div class="input-group mb-5">
              <span class="input-group-text" id="basic-addon1">Materyal Id</span>
              <input
                id="id"
                type="text"
                class="form-control"
                placeholder="MaterialId"
                aria-label="MaterialId"
                aria-describedby="basic-addon1"
                formControlName="id"
                readonly
              >
            </div>
            <br />
            <div class="input-group mb-5">
              <span class="input-group-text" id="basic-addon1">Materyal Adı</span>
              <input
                id="name"
                type="text"
                class="form-control"
                placeholder="MaterialName"
                aria-label="MaterialName"
                aria-describedby="basic-addon1"
                formControlName="name"
              >
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Description"
                id="description"
                style="height: 100px"
                formControlName="description"
              ></textarea>
              <label for="floatingTextarea2">Açıklama</label>
            </div>
            <br />
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="false"
                id="isBorrowable"
                formControlName="isBorrowable"
                [(ngModel)]="isBorrowable"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Ödünç Alınabilir
              </label>
            </div>
            <div class="input-group mb-5">
              <span class="input-group-text" id="basic-addon1"
                >Ödünç Gün Sayısı</span
              >
              <input
                id="borrowDay"
                type="number"
                class="form-control"
                placeholder="0"
                aria-label="BorrowDay"
                aria-describedby="basic-addon1"
                formControlName="borrowDay"
                
              />
            </div>
            <div class="input-group mb-5">
              <span class="input-group-text">Günlük Ceza Miktarı: ₺</span>
              <input
                id="punishmentAmount"
                type="text"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
                formControlName="punishmentAmount"
              />
              <span class="input-group-text">.00</span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
   <!--body end-->
   <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="closeModal('updateMaterialModal')"
    >
      Close
    </button>
  </div>
</div>
</div>
</div>
<!--UpdateMaterial Modal -- materyal düzenle Sonu-->




<!--MaterialCopy Modal -- materyalKopyası ekle modalı-->
<div id="materialCopyModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Materyal Kopyası Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('materialCopyModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form
          [formGroup]="materialCopyForm"
          (ngSubmit)="onSubmitMaterialCopyForm()"
        >
          <div class="mb-10">
            <label for="" class="form-label">Date Receipt</label>
            <input
              class="form-control"
              placeholder="Pick a date"
              id="dateReceipt"
              formControlName="dateReceipt"
            />
          </div>

          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Status</span>
            <input
              id="status"
              type="text"
              class="form-control"
              placeholder="Status"
              aria-label="Status"
              aria-describedby="basic-addon1"
              formControlName="status"
            />
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="isReserved"
              formControlName="isReserved"
              [(ngModel)]="isReserved"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Ayrıldı
            </label>
          </div>
          <br />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="isReservable"
              formControlName="isReservable"
              [(ngModel)]="isReservable"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Ayırtılabilir
            </label>
          </div>
          <br />

          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="materialId"
            >
              <option selected></option>
              <option
                *ngFor="let material of materialList"
                [value]="material.id"
              >
                {{ material.name }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Seç</label>
          </div>
          <br />
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="branchId"
            >
              <option selected></option>
              <option *ngFor="let branch of branchList" [value]="branch.id">
                {{ branch.name }}
              </option>
            </select>
            <label for="floatingSelect">Branch Seç</label>
          </div>
          <br />
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="locationId"
            >
              <option selected></option>
              <option
                *ngFor="let location of locationList"
                [value]="location.id"
              >
                {{ location.fullLocationMap }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Lokasyonu Seç</label>
          </div>
          <br />
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal('materialCopyModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--MaterialCopy Modal -- materyal ekle Sonu-->
<!--MaterialImage Modal -- materyal foto ekle modalı-->
<div id="materialImageModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Materyal Kapak Resmi Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('materialImageModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <!--begin::Form-->
        <form
          id="kt_docs_formvalidation_image_input"
          class="form"
          action="#"
          autocomplete="off"
          [formGroup]="materialImageForm"
          (ngSubmit)="onSubmitMaterialImageForm()"
        >
        <div class="form-floating">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
            formControlName="materialId"
            name="materialId"
            (change)="onMaterialSelected($event)"
          >
            <option selected></option>
            <option *ngFor="let material of materialList" [value]="material.id">
              {{ material.name }}
            </option>
          </select>
          <label for="floatingSelect">Materyal Seç</label>
        </div>
        <br>
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="d-block fw-semibold fs-6 mb-5">Materyal Kapak Resmi</label>
            <!--end::Label-->

            <!--begin::Image input-->
            <div
              class="image-input image-input-outline image-input-empty"
              data-kt-image-input="true"
              style="
                background-image: url('assets/media/svg/avatars/blank.svg');
              "
            >
              <!--begin::Preview existing avatar-->
              <div class="image-input-wrapper w-125px h-125px"></div>
              <!--end::Preview existing avatar-->

              <!--begin::Label-->
              <label
                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change"
                data-bs-toggle="tooltip"
                title="Change avatar"
              >
                <i class="ki-duotone ki-pencil fs-6"
                  ><span class="path1"></span><span class="path2"></span
                ></i>

                <!--begin::Inputs-->
                <input type="file" name="avatar" accept=".png, .jpg, .jpeg" formControlName="image" (change)="onFileSelected($event)"/>
                <input type="hidden" name="avatar_remove" />
                <!--end::Inputs-->
              </label>
              <!--end::Label-->

              <!--begin::Cancel-->
              <span
                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="cancel"
                data-bs-toggle="tooltip"
                title="Cancel avatar"
              >
                <i class="ki-outline ki-cross fs-3"></i>
              </span>
              <!--end::Cancel-->

              <!--begin::Remove-->
              <span
                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove"
                data-bs-toggle="tooltip"
                title="Remove avatar"
              >
                <i class="ki-outline ki-cross fs-3"></i>
              </span>
              <!--end::Remove-->
            </div>
            <!--end::Image input-->

            <!--begin::Hint-->
            <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
            <!--end::Hint-->
          </div>
          <!--end::Input group-->

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <!--end::Form-->
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('materialImageModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--MaterialImage Modal -- materyal foto Sonu-->
<!--MaterialGenre Modal -- materyal tür seç modalı-->
<div id="materialGenreModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Materyal Kategori/Tür Seç</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('materialGenreModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="materialGenreForm" (ngSubmit)="onSubmitMaterialGenreForm()">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="materialId"
            >
              <option selected></option>
              <option *ngFor="let material of materialList" [value]="material.id">
                {{ material.name }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Seç</label>
          </div>
          <br>
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="genreId"
            >
              <option selected></option>
              <option *ngFor="let genre of genreList" [value]="genre.id">
                {{ genre.name }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Türü/Kategorisi Seç</label>
          </div>
          <br />
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('materialGenreModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--MaterialGenre Modal -- materyal foto Sonu-->
<!--Genre Modal -- tür ekle modalı-->
<div id="genreModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tür Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('genreModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="genreForm" (ngSubmit)="onSubmitGenreForm()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Tür Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
              formControlName="name"
            />
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('genreModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Genre Modal End -- tür ekle Sonu-->

<!--AuthorMaterial Modal -- materyal-yazar eşle modalı-->
<div id="authorMaterialModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yazar-Materyal Eşle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('authorMaterialModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="authorMaterialForm" (ngSubmit)="onSubmitAuthorMaterialForm()">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="materialId"
            >
              <option selected></option>
              <option *ngFor="let material of materialList" [value]="material.id">
                {{ material.name }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Seç</label>
          </div>
          <br>
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="authorId"
            >
            <option selected></option>
            <option *ngFor="let author of authorList" [value]="author.id">
              {{ author.firstName }} {{ author.lastName }}
            </option>
            </select>
            <label for="floatingSelect">Yazar Seç</label>
          </div>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal('authorMaterialModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--AuthorMaterial Modal -- yazar-materyal eşle Sonu-->
<!--LanguageMaterial Modal -- materyal-dil eşle modalı-->
<div id="languageMaterialModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dil-Materyal Eşle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('languageMaterialModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="languageMaterialForm" (ngSubmit)="onSubmitLanguageMaterialForm()">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="materialId"
            >
              <option selected></option>
              <option *ngFor="let material of materialList" [value]="material.id">
                {{ material.name }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Seç</label>
          </div>
          <br>
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="languageId"
            >
            <option selected></option>
            <option *ngFor="let language of languageList" [value]="language.id">
              {{ language.name }}
            </option>
            </select>
            <label for="floatingSelect">Dil Seç</label>
          </div>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal('languageMaterialModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--LanguageMaterial Modal -- dil-materyal eşle Sonu-->
<!--PublisherMaterial Modal -- materyal-YayınEvi eşle modalı-->
<div id="publisherMaterialModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yayın Evi-Materyal Eşle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('publisherMaterialModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="publisherMaterialForm" (ngSubmit)="onSubmitPublisherMaterialForm()">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="materialId"
            >
              <option selected></option>
              <option *ngFor="let material of materialList" [value]="material.id">
                {{ material.name }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Seç</label>
          </div>
          <br>
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="publisherId"
            >
            <option selected></option>
            <option *ngFor="let publisher of publisherList" [value]="publisher.id">
              {{ publisher.name }}
            </option>
            </select>
            <label for="floatingSelect">Yayın Evi Seç</label>
          </div>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal('publisherMaterialModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--PublisherMaterialModalMaterial Modal -- yayınEvi-materyal eşle Sonu-->
<!--TranslatorMaterial Modal -- materyal-çevirmen eşle modalı-->
<div id="translatorMaterialModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Çevirmen-Materyal Eşle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('translatorMaterialModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="translatorMaterialForm" (ngSubmit)="onSubmitTranslatorMaterialForm()">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="materialId"
            >
              <option selected></option>
              <option *ngFor="let material of materialList" [value]="material.id">
                {{ material.name }}
              </option>
            </select>
            <label for="floatingSelect">Materyal Seç</label>
          </div>
          <br>
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="translatorId"
            >
            <option selected></option>
            <option *ngFor="let translator of translatorList" [value]="translator.id">
              {{ translator.name }}
            </option>
            </select>
            <label for="floatingSelect">Dil Seç</label>
          </div>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal('translatorMaterialModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--TranslatorMaterial Modal -- çevirmen-materyal eşle Sonu-->

<!--Author Modal -- yazar ekle modalı-->
<div id="authorModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yazar Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('authorModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="authorForm" (ngSubmit)="onSubmitAuthorForm()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="firstname"
              type="text"
              class="form-control"
              placeholder="FirstName"
              aria-label="FirstName"
              aria-describedby="basic-addon1"
              formControlName="firstName"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Soyadı</span>
            <input
              id="lastname"
              type="text"
              class="form-control"
              placeholder="Last Name"
              aria-label="LastName"
              aria-describedby="basic-addon1"
              formControlName="lastName"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Ülkesi</span>
            <input
              id="country"
              type="text"
              class="form-control"
              placeholder="Country"
              aria-label="Country"
              aria-describedby="basic-addon1"
              formControlName="country"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal('authorModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Author Modal -- yazar ekle Sonu-->
<!--UpdateAuthor Modal -- yazar ekle modalı-->
<div id="updateAuthorModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yazar Düzenle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('updateAuthorModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="updateAuthorForm" (ngSubmit)="onSubmitUpdateAuthorForm()">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              (change)="onAuthorSelect($event)"
            >
              <option selected></option>
              <option
                *ngFor="let author of authorList"
                [value]="author.id"
              >
              {{ author.firstName }} {{ author.lastName }}
              </option>
            </select>
            <label for="floatingSelect">Yazar Seç</label>
          </div>
    
          <br />
                <div class="input-group mb-5">
                  <span class="input-group-text" id="basic-addon1">Yazar Id</span>
                  <input
                    id="id"
                    type="text"
                    class="form-control"
                    placeholder="MaterialId"
                    aria-label="MaterialId"
                    aria-describedby="basic-addon1"
                    formControlName="id"
                    readonly
                  >
                </div>
                <br />
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="firstname"
              type="text"
              class="form-control"
              placeholder="FirstName"
              aria-label="FirstName"
              aria-describedby="basic-addon1"
              formControlName="firstName"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Soyadı</span>
            <input
              id="lastname"
              type="text"
              class="form-control"
              placeholder="Last Name"
              aria-label="LastName"
              aria-describedby="basic-addon1"
              formControlName="lastName"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Ülkesi</span>
            <input
              id="country"
              type="text"
              class="form-control"
              placeholder="Country"
              aria-label="Country"
              aria-describedby="basic-addon1"
              formControlName="country"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal('updateAuthorModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Author Modal -- yazar ekle Sonu-->
<!--Publisher Modal -- yayınEvi ekle modalı-->
<div id="publisherModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yayın Evi Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('publisherModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="publisherForm" (ngSubmit)="onSubmitPublisherForm()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
              formControlName="name"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Yayın Yeri</span>
            <input
              id="publicationPlace"
              type="text"
              class="form-control"
              placeholder="PublicationPlace"
              aria-label="PublicationPlace"
              aria-describedby="basic-addon1"
              formControlName="publicationPlace"
            />
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('publisherModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Publisher Modal End -- yayın evi ekle Sonu-->
<!--Translator Modal -- çevirmen ekle modalı-->
<div id="translatorModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Çevirmen Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('translatorModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="translatorForm" (ngSubmit)="onSubmitTranslatorForm()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
              formControlName="name"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Description"
              id="description"
              style="height: 100px"
              formControlName="description"
            ></textarea>
            <label for="floatingTextarea2">Açıklama</label>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('translatorModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Translator Modal End -- çevirmen ekle Sonu-->
<!--Language Modal -- dil ekle modalı-->
<div id="languageModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dil Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('languageModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="languageForm" (ngSubmit)="onSubmitLanguageForm()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Adı</span>
            <input
              id="name"
              type="text"
              class="form-control"
              placeholder="Name"
              aria-label="Name"
              aria-describedby="basic-addon1"
              formControlName="name"
            />
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('languageModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Language Modal End -- dil ekle Sonu-->
<!--Location Modal -- yer ekle modalı-->
<div id="locationModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lokasyon Ekle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('locationModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="locationForm"
        (ngSubmit)="onSubmitLocationForm()">
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Kat</span>
            <input
              id="floor"
              type="text"
              class="form-control"
              placeholder="Floor"
              aria-label="Floor"
              aria-describedby="basic-addon1"
              formControlName="floor"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Koridor</span>
            <input
              id="corridor"
              type="text"
              class="form-control"
              placeholder="Corridor"
              aria-label="Corridor"
              aria-describedby="basic-addon1"
              formControlName="corridor"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Raf</span>
            <input
              id="shelf"
              type="text"
              class="form-control"
              placeholder="Shelf"
              aria-label="Shelf"
              aria-describedby="basic-addon1"
              formControlName="shelf"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">RafKatı</span>
            <input
              id="shelfFloor"
              type="text"
              class="form-control"
              placeholder="ShelfFloor"
              aria-label="ShelfFloor"
              aria-describedby="basic-addon1"
              formControlName="shelfFloor"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >RafSıraNumarası</span
            >
            <input
              id="shelfLineNumber"
              type="text"
              class="form-control"
              placeholder="ShelfLineNumber"
              aria-label="ShelfLineNumber"
              aria-describedby="basic-addon1"
              formControlName="shelfLineNumber"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >TamLokasyonHaritası</span
            >
            <input
              id="fullLocationMap"
              type="text"
              class="form-control"
              placeholder="FullLocationMap"
              aria-label="FullLocationMap"
              aria-describedby="basic-addon1"
              formControlName="fullLocationMap"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('locationModal')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Location Modal End -- yer ekle Sonu-->
<!--UpdateLocation Modal -- yer güncelle modalı-->
<div id="updateLocationModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lokasyon Düzenle</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal('updateLocationModal')"
        ></button>
      </div>
      <!--body -->
      <div class="modal-body">
        <form [formGroup]="updateLocationForm"
        (ngSubmit)="onSubmitUpdateLocationForm()">
        <div class="form-floating">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
            (change)="onLocationSelect($event)"
          >
            <option selected></option>
            <option
              *ngFor="let location of locationList"
              [value]="location.id"
            >
              {{ location.fullLocationMap }}
            </option>
          </select>
          <label for="floatingSelect">Lokasyon Seç</label>
        </div>
  
        <br />
              <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1">Lokasyon Id</span>
                <input
                  id="id"
                  type="text"
                  class="form-control"
                  placeholder="LocationId"
                  aria-label="LocationId"
                  aria-describedby="basic-addon1"
                  formControlName="id"
                  readonly
                >
              </div>
              <br />
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Kat</span>
            <input
              id="floor"
              type="text"
              class="form-control"
              placeholder="Floor"
              aria-label="Floor"
              aria-describedby="basic-addon1"
              formControlName="floor"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Koridor</span>
            <input
              id="corridor"
              type="text"
              class="form-control"
              placeholder="Corridor"
              aria-label="Corridor"
              aria-describedby="basic-addon1"
              formControlName="corridor"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">Raf</span>
            <input
              id="shelf"
              type="text"
              class="form-control"
              placeholder="Shelf"
              aria-label="Shelf"
              aria-describedby="basic-addon1"
              formControlName="shelf"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">RafKatı</span>
            <input
              id="shelfFloor"
              type="text"
              class="form-control"
              placeholder="ShelfFloor"
              aria-label="ShelfFloor"
              aria-describedby="basic-addon1"
              formControlName="shelfFloor"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >RafSıraNumarası</span
            >
            <input
              id="shelfLineNumber"
              type="text"
              class="form-control"
              placeholder="ShelfLineNumber"
              aria-label="ShelfLineNumber"
              aria-describedby="basic-addon1"
              formControlName="shelfLineNumber"
            />
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1"
              >TamLokasyonHaritası</span
            >
            <input
              id="fullLocationMap"
              type="text"
              class="form-control"
              placeholder="FullLocationMap"
              aria-label="FullLocationMap"
              aria-describedby="basic-addon1"
              formControlName="fullLocationMap"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!--body end-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal('updateLocationModal')"
        >
          Close
        </button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--UpdateLocation Modal End -- yer güncelle Sonu-->