<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-end">
                        Material Select
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-end">
                        New Material
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
