<div
  id="kt_app_sidebar"
  class="app-sidebar flex-column"
  data-kt-drawer="true"
  data-kt-drawer-name="app-sidebar"
  data-kt-drawer-activate="{default: true, lg: false}"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="250px"
  data-kt-drawer-direction="start"
  data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle"
>
  <!--begin::Main-->
  <div
    class="d-flex flex-column justify-content-between h-100 hover-scroll-overlay-y my-2 d-flex flex-column"
    id="kt_app_sidebar_main"
    data-kt-scroll="true"
    data-kt-scroll-activate="true"
    data-kt-scroll-height="auto"
    data-kt-scroll-dependencies="#kt_app_header"
    data-kt-scroll-wrappers="#kt_app_main"
    data-kt-scroll-offset="5px"
  >
    <!--begin::Sidebar menu-->
    <div
      id="#kt_app_sidebar_menu"
      data-kt-menu="true"
      data-kt-menu-expand="false"
      class="flex-column-fluid menu menu-sub-indention menu-column menu-rounded menu-active-bg mb-7"
    >
      <!--begin:Menu item-->
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
        <!--begin:Menu link-->

        <!--end:Menu item-->
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
          <!--begin:Menu link-->
          <span routerLink="/homepage" class="menu-link">
            <span class="menu-icon">
              <i class="fa-solid fa-house fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
              </i>
            </span>
            <span class="menu-title">Anasayfa</span>
          </span>
          <!--end:Menu link-->
        </div>
        <!--begin:Menu item-->

        <div
          data-kt-menu-trigger="click"
          class="menu-item menu-accordion"
          routerLink="/homepage/contact"
        >
          <!--begin:Menu link-->
          <span class="menu-link">
            <span class="menu-icon">
              <i class="fa-solid fa-phone fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
            <span class="menu-title">İletişim</span>
          </span>
        </div>
        <!--begin:Menu item-->
        
       

        <div
          data-kt-menu-trigger="click"
          class="menu-item menu-accordion"
          routerLink="/homepage/aboutus"
        >
          <!--begin:Menu link-->
          <span class="menu-link">
            <span class="menu-icon">
              <i class="fa-solid fa-user-tie fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
            <span class="menu-title">Hakkımızda</span>
          </span>
        </div>

        <div
        data-kt-menu-trigger="click"
        class="menu-item menu-accordion"
        routerLink="/homepage/questions"
      >
        <!--begin:Menu link-->
        <span class="menu-link">
          <span class="menu-icon">
            <i class="fa-solid fa-question fs-1">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="menu-title">Sık Sorulanlar</span>
        </span>
      </div>
      <!--begin:Menu item-->
        <!--begin:Menu item-->
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
          <!--begin:Menu link-->
          <span class="menu-link">
            <span class="menu-icon">
              <i class="fa-solid fa-book fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
              </i>
            </span>
            <span class="menu-title">Libraries</span>
            <span class="menu-arrow"></span>
          </span>

          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div class="menu-sub menu-sub-accordion">
            <!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
              <!--begin:Menu link-->
              <span class="menu-link">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title" routerLink="/adminpage/add-library"
                  >Add Libray</span
                >
              </span>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
          </div>

          <!--begin:Menu sub-->
          <div class="menu-sub menu-sub-accordion">
            <!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
              <!--begin:Menu link-->
              <span class="menu-link">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title" routerLink="/adminpage/material-lists"
                  >Library Lists</span
                >
              </span>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
          </div>
          <!--end:Menu sub-->

          <!--end:Menu item-->

          <!--end:Menu sub-->

          <!--end:Menu item-->
          <!--end::Sidebar menu-->
          <!--begin::Footer-->
          <div
            class="app-sidebar-project-default app-sidebar-project-minimize text-center min-h-lg-400px flex-column-auto d-flex flex-column justify-content-end"
            id="kt_app_sidebar_footer"
          >
            <!--begin::Title-->
            <h2 class="fw-bold text-gray-800">Welcome to Library</h2>
            <!--end::Title-->
            <!--begin::Description-->
            <div class="fw-semibold text-gray-700 fs-7 lh-2 px-7 mb-1">
              Knowledge is superior to everything ("İlim her şeyden üstündür")
            </div>
          </div>
          <!--end::Footer-->
        </div>
        <!--end::Main-->
      </div>
    </div>
  </div>
</div>
